<html>
<head>

</head>
<body>
  <div class="login-form">
      <form action="#">
          <div class="form-name">
              <span>Login</span>
          </div>
          <div class="form-group">
              <input type="text" class="form-control item" id="Email" placeholder="Email">
          </div>
          <div class="form-group">
              <input type="password" class="form-control item" id="Contrase ña" placeholder="Contraseña">
          </div>
          <div class="form-group">
              <button type="button" class="btn btn-block login-account" routerLink="/inicio">Login</button>
          </div>
          <div class="form-group">
              <a ></a>
          </div>
      </form>

      <div class="social-media">
          <h5>BIENVENIDO</h5>

          <div class="form-group">
            <button type="button" class="btn btn-block login-account" routerLink="/" >Regresar</button>
        </div>

      </div>

  </div>




</body>
</html>
